<%= render partial: "shared/heading", locals: {title: 'Dashboard', tagline: 'Browse newsletters and add your own.'} %>

<%# main box area %>
<div class="border border-black border-2 p-5 mx-auto max-w-3xl mb-20">
    <div class="flex">
        <%# col 1  %>
        <div class="basis-1/2">
            <div class="flex gap-x-2">
            <%# inner col 1 %>
                <div class="basis-1/6">
                    <%# <img src="https://via.placeholder.com/150" alt=""> %>
                    <img src="https://logo.clearbit.com/<%= @project.website %>" alt="">
                </div>
            <%# inner col 2  %>
                <div class="basis-5/6">
                    <p class="text-lg"> <%= @project.title %> </p>
                    <p class="text-sm"> <%= @project.description %> </p>
                </div>
            </div>    
        </div>
        
        <%# col 2  %>
        <div class="basis-1/2 text-right">
            <p>{{ Num Subscribers }}</p>
            <p>
                <a href="/stakeholder_updates/new" class="text-brand-orange underline">Share Update</a>
            </p>
            <p>
                <a href="#" class="text-brand-blue">Edit Subscription</a>
            </p>
        </div>
    </div>
</div>
<%# end main box area %>

<%# newsletters %>
<div class="p-5 mx-auto max-w-3xl space-y-2 ">

    <% 5.times do%>
    <div class="flex">
    <%# col 1  %>
    <div class="basis-1/2">
        <div class="flex gap-x-2">
        <%# inner col 1 %>
            <div class="basis-1/6">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
        <%# inner col 2  %>
            <div class="basis-5/6">
                <p class="text-lg"> {{Title}} </p>
                <p class="text-sm"> {{Description}} {{ URL }} </p>
            </div>
        </div>    
    </div>
    
    <%# col 2  %>
    <div class="basis-1/2 text-right">
        <div class="relative flex items-start py-4">
            <div class="min-w-9 flex-1 text-sm">
                <label for="subscribed" class="font-medium text-gray-700">{{Subscribed Status}}</label>
            </div>
            <div class="ml-3 flex h-5 items-center">
                <input id="subscribed" aria-describedby="subscribed-description" name="subscribed" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-brand-orange focus:ring-brand-orange-dark">
            </div>
            </div>
          </div>
    </div>
    <% end %>
    
</div>

<%# newsletters end %>
