<div class="text-center">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Apply to Founder Digest</h3>
    <p class="mt-1 text-sm text-gray-500">Each submission is manually reviewed by our team within 24 hours.</p>
</div>

<div class="max-w-sm mx-auto">
    <form class="space-y-8">
    <div class="space-y-8">
        <div class="">
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
            <div class="mt-1">
                <input type="text" placeholder="Elon" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>
            </div>

            <div class="sm:col-span-3">
            <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
            <div class="mt-1">
                <input type="text" placeholder="Musk" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>
            </div>

            <div class="sm:col-span-6">
            <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
            <div class="mt-1">
                <input id="email" placeholder="emusk@tesla.com" name="email" type="email" autocomplete="email" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>
            </div>
            
            <%# company %>
            <div class="sm:col-span-6">
            <label for="company" class="block text-sm font-medium text-gray-700">Company Website</label>
            <div class="mt-1">
                <input id="company" name="company" type="url" autocomplete="company" placeholder="https://tesla.com" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>
            </div>

        </div>
        </div>

        <div class="">
        <div class="mt-1">
            <fieldset class="mt-6">
            <legend class="contents text-base font-medium text-gray-900">What's your role?</legend>
            <div class="mt-1 space-y-4">
                <div class="flex items-center">
                <input id="push-everything" name="C-Suite" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="push-everything" class="ml-3 block text-sm font-medium text-gray-700">C-Suite</label>
                </div>
                <div class="flex items-center">
                <input id="push-email" name="Founder" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="push-email" class="ml-3 block text-sm font-medium text-gray-700">Founder</label>
                </div>
                <div class="flex items-center">
                <input id="push-nothing" name="Employee" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700">Employee</label>
                </div>
            </div>
            </fieldset>
        </div>
        </div>
    </div>

        <div class="sm:col-span-6">
            <label for="about" class="block text-sm font-medium text-gray-700">About</label>
            <div class="mt-1">
            <textarea id="about" placeholder="Stakeholders,&#10;&#10; this month we worked primarily on..." name="about" rows="6" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
            </div>
            <p class="mt-2 text-sm text-gray-500">Write a few sentences about yourself.</p>
        </div>

    <div class="pt-5">
        <div class="flex justify-end">
        <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent bg-accent py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-accent-hover focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Apply</button>
        </div>
    </div>
    </form>
</div>