<%= render partial: "shared/heading", locals: {title: @stake_holder_update.title , tagline: ''} %>


<div class="max-w-3xl mx-auto ">
    <div class="border p-4 border-2 border-dashed">
        <%= @stake_holder_update.content %>
    </div>
</div>


