<p>Hi <%= @name %>,</p>

<p>We're pleased to let you know that your FounderDigest application has been accepted!</p>

<p>
    Get started <a class="underline" href="<%= ENV['base_url'] + '/magic_login?auth_code=' + @auth_code %>">here</a>: 
    <ul>
        <li>Username: <%= @email %></li>
    </ul>
    <br>
 </p>
