<p>Hi <%= @name %>,</p>

<p>We've reviewed your application for FounderDigest and determined it's not a fit at this time.</p>

<p>If you think we've misinterpreted your submission, just reply to this email with further details.</p>

<h1 class="font-bold bg-green-400">oh yeah</h1>